
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  font-weight: 400;
  min-height: 100vh;
  background-color: hsl(300, 24%, 96%);
  background-image:
    url('./images/bg-pattern-top-desktop.svg'),
    url('./images/bg-pattern-bottom-desktop.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1110px;
  padding: 80px 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-bottom: 70px;
}

.text {
  flex: 1;
}

.text h1 {
  font-size: 48px;
  line-height: 0.85;
  letter-spacing: -1px;
  color: hsl(300, 43%, 22%);
  margin-bottom: 28px;
  font-weight: 700;
}

.text p {
  color: hsl(303, 10%, 53%);
  line-height: 1.6;
  max-width: 420px;
  font-weight: 500;
}


.ratings {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.rating {
  background-color: #E5E5E5;
  padding: 20px 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 28px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  width: 445px;
}

.rating:nth-child(2) {
  margin-left: 48px;
}

.rating:nth-child(3) {
  margin-left: 96px;
}

.stars {
  display: flex;
  gap: 7px;
}


.cards {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.card {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  padding: 32px 28px;
  border-radius: 8px;
  flex: 1;
}

.card:nth-child(2) {
  margin-top: 32px;
}

.card:nth-child(3) {
  margin-top: 64px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile h3 {
  font-size: 15px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-bottom: 3px;
}

.profile span {
  color: hsl(333, 80%, 67%);
  font-weight: 500;
  font-size: 14px;
}

.card p {
  line-height: 1.6;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
}

@media (max-width: 768px) {

  body {
    background-image:
      url('./images/bg-pattern-top-mobile.svg'),
      url('./images/bg-pattern-bottom-mobile.svg');
  }

  .top {
    flex-direction: column;
    text-align: center;
    gap: 45px;
  }

  .text h1 {
    font-size: 36px;
    line-height: 1;
  }

  .text p {
    max-width: 100%;
  }

  .ratings {
    width: 100%;
  }

  .rating {
    width: 100%;
    flex-direction: column;
    gap: 12px;
    margin-left: 0 !important;
  }

  .cards {
    flex-direction: column;
    gap: 20px;
  }

  .card {
    margin-top: 0 !important;
  }
}
